#header {
	margin: 20px 0;
}

.title {
	text-decoration: none;
}

.nav-left {
	display: inline-block;
	margin-right: 10px;
}

.nav-right {
	display: inline-block;
	margin-left: 10px;
	float: right;
}

.pug-table {

}

.pug-table tr:hover {
	background: #f5f5f5;
}