<div class="section">
    <h2 class="teal-text text-lighten-1">Control Panel</h2>
</div>
<div>
    <ul class="collapsible" data-collapsible="accordion" style="background: #fff">
        <li>
            <div class="collapsible-header"><i class="mdi-av-playlist-add"></i>Add a server</div>
            <div class="collapsible-body">
                <form ng-submit="createPug()">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" ng-model="newPug.name" required>
                            <label for="name">name</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select id="location" ng-model="newPug.location" required>
                                <option value="" disabled selected>Choose a location</option>
                                <option value="uswest">US WEST</option>
                                <option value="uscentral">US CENTRAL</option>
                                <option value="useast">US EAST</option>
                            </select>
                        </div>
                        <script>$('select').material_select();</script>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="ip" type="text" class="validate" ng-model="newPug.ip" required>
                            <label for="ip">ip</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="port" type="text" class="validate" ng-model="newPug.port" required>
                            <label for="port">port</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="rcon" type="text" class="validate" ng-model="newPug.rcon" required>
                            <label for="rcon">rcon</label>
                        </div>
                    </div>
                    <input type="submit" class="waves-effect waves-light btn teal lighten-1"></input>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-device-storage"></i>Servers</div>
            <div class="collapsible-body">
                <div class="section">
                    <table>
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>location</th>
                                <th>ip</th>
                                <th>port</th>
                                <th>rcon</th>
                                <th>max players</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="server in servers">
                                <td>{{server.name}}</td>
                                <td>{{server.location}}</td>
                                <td>{{server.ip}}</td>
                                <td>{{server.port}}</td>
                                <td>{{server.rcon}}</td>
                                <td>{{server.maxPlayers}}</td>
                                <td><button class="waves-effect waves-light btn teal lighten-1" ng-click="resetMatchStatus(server)">Reset match</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section">
                    <a class="waves-effect waves-light btn teal lighten-1" ng-click="refresh()">Force pug info refresh on redis</a>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-social-group"></i>Players</div>
            <div class="collapsible-body">
                <table>
                    <thead>
                        <tr>
                            <th>alias</th>
                            <th>id</th>
                            <th>steamId</th>
                            <th>updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players">
                            <td><a href="#/profile/{{player.id}}">{{player.displayName}}</a></td>
                            <td><a href="{{player.profileUrl}}" target="_blank">{{player.id}}</a></td>
                            <td><a href="http://steamrep.com/search?q={{player.steamId}}" target="_blank">{{player.steamId}}</a></td>
                            <td>{{player.updated}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
<script>$('.collapsible').collapsible({ accordion : false });</script>