<div class="row">
  <h2 class="teal-text text-lighten-1">Pugs</h2>
  <h5 class="teal-text text-lighten-2">Select a lobby</h5>
  <table class="pug-table hoverable">
      <thead>
          <tr>
              <th>Server</th>
              <th>Location</th>
              <th>Players</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="(key, pug) in pugs" ng-click="join(pug)">
              <td>{{::pug.name}}</td>
              <td>{{::pug.location}}</td>
              <td>{{pug.players | getCount}}/10</td>
              <td ng-show="pug.status == 0">NOT LIVE</td>
              <td ng-show="pug.status == 1">LIVE</td>
              <td ng-show="pug.status == null">UNKNOWN</td>
          </tr>
      </tbody>
  </table>
  <!-- {{pugs}} -->
</div>