<div class="section">
    <h2 class="teal-text text-lighten-1">Pugs</h2>
</div>
<div class="section">
    <h4 class="teal-text text-lighten-2">Select a lobby</h4>
    <div class="card-panel">
        <table class="pug-table hoverable">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Location</th>
                    <th>Players</th>
                    <th>Server Status</th>
                    <th>Match Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, pug) in pugs" ng-click="join(pug)">
                    <td>{{::pug.name}}</td>
                    <td>{{::pug.location}}</td>
                    <td>{{pug.players | getCount}}/{{pug.maxPlayers}}</td>
                    <td class="green-text text-accent-3" ng-show="pug.serverStatus">ONLINE</td>
                    <td class="red-text text-accent-2" ng-show="!pug.serverStatus">OFFLINE</td>
                    <td ng-show="pug.matchStatus">LIVE</td>
                    <td ng-show="!pug.matchStatus">NOT LIVE</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>