<h3>Pugs</h3>
<table class="u-full-width pugs-table">
    <thead>
        <tr>
            <th>Server</th>
            <th>Location</th>
            <th>Players</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, pug) in pugs" ng-click="join(pug)">
            <td>{{::pug.name}}</td>
            <td>{{::pug.location}}</td>
            <td>{{pug.players}}</td>
            <td ng-show="pug.status == 0">NOT LIVE</td>
            <td ng-show="pug.status == 1">LIVE</td>
        </tr>
    </tbody>
</table>
{{pugs}}