extends ./layout.jade

block content
  .container
    .row
      .one-half.column(style='margin-top: 25%')
        h3
          a.title(href="/") GoodPug
        h5 The alternative to match-making       
        p Play on 128-tick servers with players of your skill level for free!      
        a.button.button-primary(href='/auth/steam') Login with Steam