extends ./layout.jade

block content
  .container
    .row
      img.nav-left(src="#{user.avatarSmall}")
      h5.nav-left #{user && user.displayName}

    .row(ng-controller="serverListController")
      .twelve.columns
        h4 Servers
        table.u-full-width
          thead
            tr
              th Name
              th Location
              th Experience
              th Players
              th Status
          tbody.pug-table
            //- each server in servers
            //-   tr(onclick="location.href='/r/#{server.id}'")
            //-     td= server.name
            //-     td= server.location
            //-     td n/a
            //-     td= Object.keys(server.players).length
            //-       span /10
            //-     td
            //-       if server.status == 0
            //-         span Waiting For Players
            //-       else
            //-         span Match in Progress
            tr(ng-repeat="server in servers")
              td {{server.name}}
              td {{server.location}}
              td {{server.rank}}
              td {{server.players}}
              td {{server.status}}
