extends ./layout.jade

block content
  .container
    .row
      img.nav-left(src="#{user.avatarSmall}")
      h5.nav-left #{user && user.displayName}
    .row
      .twelve.columns
        h4 Rooms
        table.u-full-width
          thead
            tr
              th Name
              th Location
              th Experience
              th Players
          tbody.pug-table
            // tr(onclick="location.href='steam://connect/104.236.164.175:27015'")
            tr(onclick="location.href='/lobby/123'")
              td Bellevue
              td San Francisco
              td Intermediate-Veteran
              td 5/10

    .row
      .twelve.columns
        // h4 Global Chat
          p
            strong jun: 
            | let's pug!
          p
            strong jun: 
            | hello all
