header, main, footer {
    padding-left: 240px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
a {
    color: #26a69a;
}
.block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}
.pug-table > tbody > tr {
    cursor: pointer;
}
.pug-table > tbody > tr:hover {
  background-color: #ededed !important;
}
.logo {
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.logo:hover {
  background-color: #ffffff !important;
}
.logo img {
  padding: 20px 0;
}
.findapug:hover span {
  display: none;
}
.findapug:hover:before {
  content: "Find a Pick Up Game";
}
.material-tooltip {
}